@model GuestUpload

@functions {
    private IEnumerable<SelectListItem> GetVisibilityList()
    {
        return new List<SelectListItem>
        {
            new SelectListItem { Value = "Public", Text = "Public" },
            new SelectListItem { Value = "Private", Text = "Private" },
        };
    }

}

@{
    ViewBag.Title = "Edit Upload";
    Layout = "_Layout";
}
      
<link type="text/css" rel="stylesheet" href="/css/uploads.css" />
      
<p> </p>
      
<h2>Editing @Model.Title</h2>
      
<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input asp-for="Title" placeholder="Upload Title" maxlength="80" class="form-control" />
    </div>

     <p> </p>

    <div class="form-group">
        <input asp-for="ShortDescription" placeholder="Write a short Description" maxlength="500" class="form-control" />
    </div>

     <p> </p>

    <div class="form-group">
        <textarea asp-for="Content" placeholder="Write what's on your mind..." rows="15" style="width: 100%;" class="form-control">
            @Model.Content
        </textarea>
    </div>
  
    <script type="text/javascript">
        function deleteFile(id) {
            document.getElementById(id).textContent = "Deleted";
        }
    </script>
    @foreach (var file in Model.Files)
    {
        <p>@file.Filename</p>
        <a target="_blank" href="/Uploads/DeleteFile/@file.Id">
            <button id="file-delete-btn-@file.Id" onclick="deleteFile('file-delete-btn-@file.Id')" type="button">
                Delete File
            </button>
        </a>
    }
  
    <p> </p>
    <div class="form-group">
        <h4>Upload Some Files</h4>
        <input type="file" name="FileInput" multiple />
    </div>
    <p> </p>

    @Html.DropDownListFor(model => model.Visibility, GetVisibilityList(), "", new { @class = "form-control", @name = "Visibility"})
      <p> </p>
    <p class="text-dark">@ViewData["LoadText"]</p>

     <p> </p>
    <div class="form-group">
        <button type="submit">Edit</button>
    </div>
</form>

 <p> </p>

<div class=" d-flex justify-content-end align-items-end">
<a href="/uploads/delete/@Model.Id" class="badge bg-danger">
    Delete
</a>
</div>
