@model List<GuestUpload>

@{
    ViewBag.Title = "Guest Uploads";
    Layout = "_Layout";
}
<link type="text/css" rel="stylesheet" href="/css/uploads.css" />

<h2>Guest Uploads</h2>

<div class="uploads">
    @foreach (var upload in Model)
    {
        var uploadFileCount = upload.Files.Count;
        var uploadRatingCount = upload.Feedback.Count;
        var uploadRatingAverage = 0.0;
        if (uploadRatingCount > 0)
        {
            uploadRatingAverage = upload.Feedback.Average(f => int.Parse(f.Rating));
        }

        <div class="upload-item">
            <h2>@upload.Title</h2>
            <p>@upload.ShortDescription</p>
            <a asp-controller="Uploads" asp-action="Details" asp-route-id="@upload.Id">Read More</a>
            <div>
                @if (uploadRatingCount < 1)
                {
                    <p>There are no ratings yet.</p>
                }
                else
                {
                    <p>@($"{uploadRatingCount} rating(s) with an average of {uploadRatingAverage:0.0}/5.0")</p>
                }
            </div>
            @* Owner Options *@
            @if (upload.OwnerUid == Context.Session.GetString("uid"))
            {
                <a asp-controller="Uploads" asp-action="Edit" asp-route-id="@upload.Id">Edit my Upload</a>
                <a asp-controller="Uploads" asp-action="Delete" asp-route-id="@upload.Id">Delete</a>
            }
        </div>
    }
</div>
